//-------------------------------
// Configuration Button dotted
//-------------------------------

$dotted-link-position-left: 12px !default;
$dotted-link-bg-color: #363636 !default;

$dotted-burger-span-width: 16px !default;
$dotted-burger-dotted-span-width: 6px;
$dotted-burger-dotted-span-height: $dotted-burger-dotted-span-width;
$dotted-burger-dotted-span-border-radius: 50%;