$modal-z: 20 !default;

$modal-background-background-color: rgba($black, 0.86) !default;

$modal-content-width: 640px !default;
$modal-content-width-small: 450px !default;
$modal-content-width-medium: 60% !default;
$modal-content-width-large: 90% !default;
$modal-content-margin-mobile: 20px !default;
$modal-content-spacing-mobile: 160px !default;
$modal-content-spacing-tablet: 40px !default;

$modal-close-dimensions: 40px !default;
$modal-close-right: 20px !default;
$modal-close-top: 20px !default;

$modal-card-spacing: 80px !default;

$modal-card-head-background-color: $background !default;
$modal-card-head-padding: 20px !default;
$modal-card-head-radius: $radius-large !default;

$modal-card-title-color: $grey-light !default;
$modal-card-title-line-height: 1.5 !default;
$modal-card-title-size: $size-4 !default;
$modal-card-title-size-mobile: $size-5 !default;

$modal-card-foot-radius: $radius-large !default;
$modal-card-foot-border-top: 1px solid $border !default;
$modal-card-foot-padding: 1.5rem 2rem !default;

$modal-card-body-background-color: $white !default;
$modal-card-body-padding: 30px 0 !default;

