// -------------------------------
// == Alert variables
// -------------------------------

$alerts-margin: 10px 0 !default;
$alerts-top-position: -20px !default;
$alerts-z-index: z('middle') !default;

$alert-padding: 0.75rem 1.5rem 0.75rem 1rem !default;
$alert-margin: 0 20px !default;
$alert-min-height: 30px !default;
$alert-background-color: $black-ter !default;
$alert-radius: $radius !default;