//-------------------------------
// Configuration Map Component
//-------------------------------

$bien-illustration-height-desktop: 550px !default;
$bien-illustration-height-tablet: 350px !default;
$bien-illustration-height-mobile: 250px !default;