// -------------------------------
// == Bulma Notification variables
// -------------------------------

$notification-background-color: $black-ter !default;
$notification-radius: 0 !default;
$notification-padding: 1.5rem 2.5rem !default;
$notification-width: 35em !default;
