.tabs {
    @include block;
    @include overflow-touch;
    @include unselectable;

    align-items: stretch;
    display: flex;
    font-size: $size-normal;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;

    // Border color
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        &.is-border-#{$name} {
            a,
            ul {
                border-color: $color;
            }
        }
    }

    // Color
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        &.is-#{$name} {
            li.is-active a {
                border-bottom-color: $color;
                color: $color;
            }
        }
    }

    // Inverted
    &.is-inverted {
        a {
            color: rgba($white, 0.4);
            border-bottom-color: transparent;

            &:hover {
                color: $white;
                border-bottom-color: transparent;
            }
        }

        li.is-active a {
            color: $white;
            border-bottom-color: $white;
        }

        ul {
            border-color: transparent;
        }
    }

    a {
        align-items: center;
        border-bottom-color: $tabs-border-bottom-color;
        border-bottom-style: $tabs-border-bottom-style;
        border-bottom-width: $tabs-border-bottom-width;
        color: $tabs-link-color;
        display: flex;
        justify-content: center;
        margin-bottom: -#{$tabs-border-bottom-width};
        padding: $tabs-link-padding;
        vertical-align: top;

        &:hover {
            border-bottom-color: $tabs-link-hover-border-bottom-color;
            color: $tabs-link-hover-color;
        }
    }

    li {
        display: block;

        &:first-child {
            margin-left: $gap;
        }

        &.is-active {
            a {
                border-bottom-color: $tabs-link-active-border-bottom-color;
                color: $tabs-link-active-color;
            }
        }

        &.has-subtitle {
            line-height: 1rem;

            a {
                flex-direction: column;
            }
        }
    }

    ul {
        align-items: center;
        border-bottom-color: $tabs-border-bottom-color;
        border-bottom-style: $tabs-border-bottom-style;
        border-bottom-width: $tabs-border-bottom-width;
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        justify-content: flex-start;

        &.is-left {
            padding-right: 0.75em;
        }

        &.is-center {
            flex: none;
            justify-content: center;
            padding-left: 0.75em;
            padding-right: 0.75em;
        }

        &.is-right {
            justify-content: flex-end;
            padding-left: 0.75em;
        }
    }

    .icon {
        &:first-child {
            margin-right: 0.5em;
        }

        &:last-child {
            margin-left: 0.5em;
        }
    }


    // Alignment
    &.is-centered {
        ul {
            justify-content: center;
            
            li:first-child {
                margin-left: 0;
            }
        }
    }

    &.is-right {
        ul {
            justify-content: flex-end;

            li:last-child {
                margin-right: $gap;
            }
        }
    }

    &.is-fullwidth {
        li {
            flex-grow: 1;
            flex-shrink: 0;
        }
    }

    // Sizes
    &.is-small {
        font-size: $size-small;
    }

    &.is-medium {
        font-size: $size-medium;
    }

    &.is-large {
        font-size: $size-large;
    }
}
