// ---------------------------------------
// == Configuration Liste des dossiers
// ---------------------------------------

// Variables de config
//-----------------------

$width-c-list-dossier: 100%;

$width-list-item: 100%;
$height-list-item: 60px;

$width-icon-prospect: 46px;
$height-icon-prospect: $width-icon-prospect;

$global-width-icon: 1.5rem;
$global-height-icon: $global-width-icon;

